# API y Servidor
fastapi
uvicorn
python-multipart

# MLOps y Monitoreo
dvc
mlflow
evidently

# RAG y LLMs
langchain
langchain-google-genai
faiss-cpu
pypdf

# Visión Computacional
roboflow
ultralytics

# Desarrollo y Pruebas
pytest
jupyter
python-dotenv
